

$screen-phone-min-width: 320px;
$screen-phone-max-width: 959px;

$screen-tablet-min-width: 960px;
$screen-tablet-max-width: 1365px;

$screen-desktop-min-width: 1366px;
$screen-desktop-max-width: 1919px;

$screen-desktop-large-min-width: 1920px;

$main-bg-btn-color: #fff;

$divider-color: #e1e1e1;

$main-title-color: #033;
$main-font-family: 'Ubuntu';

// color scheme 1 
$bg-color: #1d65a6;
$bg-color-item: #e6f4fe;

$btn-color: #72a2c0;
$btn-bg-color-hover: #d5dbe1;

$pr-btn-bg-color: #4CAF50;
$pr-btn-bg-hover-color:#7cc887;
;
$pr-btn-color: #fff;